<div class="review-latest">
  <h1 class='review-latest-header'>Latest Review</h1>
  <div class='review-latest-entry' *ngIf="review != null">
    <div class='review-latest-head'>
      <h2>{{review.title}}</h2>
      <h3>{{review.date}}</h3>
    </div>
    <div class='review-row'>
      <div class='review-latest-summary'>
        <span class='content-bold'>Description: </span>{{review.description}}
        <ul>
          <span class='content-bold'>Pros: </span>
          <li *ngFor="let pro of review._pros">{{pro}}</li>
        </ul>
        <ul>
          <span class='content-bold'>Cons: </span>
          <li *ngFor="let con of review._cons">{{con}}</li>
        </ul>
        <span class='content-bold'>Rating: </span> {{review.rating}}
      </div>
      <div class='review-latest-thumbnail'>
        <img [src]="domSanitizer.bypassSecurityTrustUrl(base64Img)">
      </div>
    </div>
    <hr>
    <p *ngFor="let para of review.content">{{para}}</p>
    <div class='review-latest-details'>
      <span class='content-bold'>Recommendation: </span>{{review.recommended}}
      <ul>
        <span class='content-bold'>Tags :</span>
        <li *ngFor="let tag of review._tags">{{tag}}</li>
      </ul>
    </div>
  </div>
</div>
