<header>
  <div class='icon-title-container'>
    <img class='icon-img' src='./../../assets/static/logo.svg'>
    <div class='icon-title'><span class='icon-title-username'>{{username}} </span><span class='icon-title-aspiration'>{{aspiration}}</span></div>
  </div>
  <nav>
    <ul>
      <li><a routerLink='/login' routerLinkActive='active'>Logout & Return to Login Screen</a></li>
      <li><a routerLink='/home' routerLinkActive='active'>Logout & Return to Homepage</a></li>
    </ul>
  </nav>
</header>
