<div class="journal-latest">
  <h1 class='journal-latest-header'>Latest Journal Entry</h1>
  <div *ngIf="entry != null" class='journal-latest-entry'>
    <div class='journal-latest-head'>
      <div class='journal-img-background'>
        <img [src]="domSanitizer.bypassSecurityTrustUrl(base64Img)">
      </div>
      <h2>{{entry.title}}</h2>
      <h3>{{entry.date | dateFormat}}</h3>
    </div>
    <div class='journal-latest-content'>
      <p class='journal-content-paragraphs' *ngFor="let para of entry.content">{{para}}</p>
      <div class='journal-latest-details'>
        <p>
          <span class='content-bolden'>Goal of the Day: </span>
          {{entry.goal}}
        </p>
        <p>
          <span class='content-bolden'>What I Learned Today: </span>
          {{entry.learned}}
        </p>
        <p>
          <span class='content-bolden'>Productivity Level: </span>
          {{entry.productivity}}
        </p>
        <p>
          <span class='content-bolden'>Additional Thoughts: </span>
          {{entry.thoughts}}
        </p>
        <p>
          <span class='content-bolden'>Emotion of the Day: </span>
          {{entry.emotion}} <img class='emotion-icon' [src]="entry.emotionimg">
        </p>
        <span class='journal-latest-tags'>
          <span class='content-bolden'>Tags: </span>
          <ul>
            <li *ngFor="let tag of entry._tags">{{tag}}</li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
