@import "~assets/variables"

.journal-latest

  .journal-latest-header
    font-family: $subheader-font
    font-size: 1.5em
    text-align: center
    margin: 0

  .journal-latest-entry
    background-color: $tan
    height: 100%
    width: 100%
