<div class="journal-latest">
  <h1 class='journal-latest-header'>Latest Journal Entry</h1>
  <div class='journal-latest-entry'>
    <div class='journal-latest-head'>
      <h2>{{entry.title}}</h2>
      <h3>{{entry.date}}</h3>
    </div>
    <div class='journal-latest-content'>
      <p>{{entry.content}}</p>
      <div class='journal-latest-details'>
        <span class='journal-latest-goal'><span class='content-bolden'>Goal of the Day: </span>{{entry.goal}}</span>
        <span class='journal-latest-happiness'><span class='content-bolden'>Happiness: </span>{{entry.happiness}}</span>
        <span class='journal-latest-thoughts'><span class='content-bolden'>Additional Thoughts: </span>{{entry.thoughts}}</span>
        <span class='journal-latest-tags'>
          <span class='content-bolden'>Tags: </span>
          <ul>
            <li *ngFor="let tag of entry.tags">{{tag}}</li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
