@import "~assets/variables"

.review-recent
  width: 20em

  .review-recent-header
    font-family: $subheader-font
    font-size: 1.5em
    text-align: center
    margin: .5em

  .review-recent-reviews
    background-color: white
    display: flex
    flex-direction: column
    padding: 0 1em 1em 1em
    border-radius: 5px
    ul
      padding: 0
      align-items: stretch
      li
        font-family: $list-font
        margin: 1em 0
        padding: .5em
        display: flex
        box-shadow: .3em .3em .3em $black
        background-color: $blue
        color: $white
        .review-title

        .review-date
          margin-left: auto
