@import "~assets/variables"

header
  display: flex
  align-items: baseline
  background-color: $blue

  .icon-title-container
    display: inline-flex
    align-items: center
    .icon-img
        height: 5em
        margin: 1em
        border-radius: 50%
        border: 2px solid $white
    .icon-title
      .icon-title-username
        font-size: 2em
        margin-left: .5em
        font-family: $header-font
        color: $black
      .icon-title-aspiration
        font-family: $subtext-font
        color: $white

  nav
    margin-left: auto
    ul
      margin-right: 3em
      li
        font-size: .8em
        font-family: $navigation-font
        display: inline-block
        padding: 0 2.7em 0 0
        color: $white
