<header>
  <div class='icon-title-container'>
    <img class='icon-img' src='./../../assets/static/logo.svg'>
    <div class='icon-title'><span class='icon-title-username'>{{username}} </span><span class='icon-title-aspiration'>{{aspiration}}</span></div>
  </div>
  <nav>
    <ul>
      <li><a routerLink='/home' routerLinkActive='active'>Home</a></li>
      <li><a routerLink='/journal' routerLinkActive='active'>Journal</a></li>
      <li><a routerLink='/reviews' routerLinkActive='active'>Reviews</a></li>
      <li><a routerLink='/profile' routerLinkActive='active'>Profile</a></li>
    </ul>
  </nav>
</header>
