@import "~assets/variables"

.calendar-container
  width: 22em
  h3
    font-family: $subheader-font
    text-align: center
  .calendar
    .weekday-box
      display: flex
      flex-direction: row
      .weekday-name
        width: 3.54em
        text-align: center
        .weekday-text
          font-family: $subtext-font
  .calendar-days-box
    display: flex
    flex-wrap: wrap

    .day
      border: 1px solid $black
      height: 3em
      width: 3.01em
      .box
        text-indent: .3em
        height: 100%
        width: 100%
