<div class='calendar-container'>
  <h3>{{calendarObj.month}}</h3>
  <div class='calendar'>
    <div class='weekday-box'>
      <div class='weekday-name'>
        <span class='weekday-text'>Su</span>
      </div>
      <div class='weekday-name'>
        <span class='weekday-text'>Mo</span>
      </div>
      <div class='weekday-name'>
        <span class='weekday-text'>Tu</span>
      </div>
      <div class='weekday-name'>
        <span class='weekday-text'>We</span>
      </div>
      <div class='weekday-name'>
        <span class='weekday-text'>Th</span>
      </div>
      <div class='weekday-name'>
        <span class='weekday-text'>Fr</span>
      </div>
      <div class='weekday-name'>
        <span class='weekday-text'>Sa</span>
      </div>
    </div>
    <div class='calendar-days-box'>
      <div class='day' *ngFor="let day of calendarObj.calendar">
        <div class='box' [ngStyle]="day.hasEntry && {'background-color': 'red'}">
          {{day.dayNum}}
        </div>
      </div>
    </div>
</div>
</div>
