@import "~assets/variables"

.journal-recent
  width: 20em

  .journal-recent-header
    font-family: $subheader-font
    font-size: 1.5em
    text-align: center
    margin: .5em

  .journal-recent-entries
    background-color: white
    display: flex
    flex-direction: column
    padding: 0 1em 1em 1em
    border-radius: 5px
    ul
      padding: 0
      align-items: stretch
      li
        font-family: $list-font
        margin: 1em 0
        padding: .5em
        display: flex
        box-shadow: .3em .3em .3em $black
        background-color: $blue
        color: $white
        .entry-title

        .entry-date
          margin-left: auto
      li:hover
        cursor: pointer

@media only screen and ( max-width: 930px )
  .journal-recent
    width: 100%
