@import "~assets/variables"

.footer-container
  font-family: $navigation-font
  color: $white
  font-size: .9em
  background-color: $blue
  display: flex
  flex-direction: row
  ul
    display: flex
    flex-direction: column
    li
      list-style-type: none
      padding: .5em
      a
        color: $white
        text-decoration: none
      a:visited
        color: $white
      a:focus
        color: $orange
