@import "~assets/variables"

.journal-content-container
  background-color: $white
  border-bottom: 1px solid $blackRGBA
  display: flex
  padding: 1em 3em

  .journal-recent-box
    padding: 1em 2em 1em 1.5em

  .journal-latest-box
    padding: 1em 1.5em 1em 2em
    flex-grow: 1

.profile-content-container
  background-color: $white
  border-bottom: 1px solid $blackRGBA
  display: flex
  padding: 1em 3em

  .profile-timeline-box
    padding: 1em 1.5em 1em 2em
    flex-grow: 1

  .profile-objectives-box
    padding: 1em 2em 1em 1.5em

.video-feed-container
  background-color: $white
  border-bottom: 1px solid $blackRGBA
  display: flex
  padding: 1em 5em 3em

.review-content-container
  background-color: $white
  border-bottom: 1px solid $blackRGBA
  display: flex
  padding: 1em 3em 4em

  .review-latest-box
    padding: 1em 1.5em 1em 2em
    flex-grow: 1

  .review-recent-box
    padding: 1em 2em 1em 1.5em

// media queries

@media only screen and (max-width: 1435px)
  .journal-recent-box
    display: none
  .profile-objectives-box
    display: none
  .review-recent-box
    display: none
