<app-header></app-header>
<div class='journal-content-container'>
  <app-journal-latest class="journal-latest-box"></app-journal-latest>
  <app-journal-recent  class="journal-recent-box"></app-journal-recent>
</div>
<div class='profile-content-container'>
  <app-timeline class='profile-timeline-box'></app-timeline>
  <app-objectives class='profile-objectives-box'></app-objectives>
</div>
<div class='review-content-container'>
  <app-review-latest></app-review-latest>
  <app-review-recent></app-review-recent>
</div>
<app-videofeed></app-videofeed>
<app-footer></app-footer>
