@import "~assets/variables"

.journal-content-container
  background-color: $white
  border-bottom: 1px solid $blackRGBA
  display: flex
  padding: 2em

  .journal-recent-box
    padding: 1em 1em 1em .5em

  .journal-latest-box
    padding: 1em .5em 1em 1em
    flex-grow: 1

.profile-content-container
  background-color: $white
  border-bottom: 1px solid $blackRGBA
  display: flex
  padding: 2em

  .profile-timeline-box
    padding: 1em .5em 1em 1em
    flex-grow: 1

  .profile-objectives-box
    padding: 1em 1em 1em .5em
