@import "~assets/variables"

h1
  font-family: $subheader-font
  margin: 0
  display: block
  text-align: center
  font-size: 1.5em

.video-feed
  background-color: $orangeRGBA
  display: flex
  flex-direction: row

  .video-thumbnail
    margin: .5em
    overflow: hidden
    a
      img
        height: auto
        width: 100%
        margin: -2.4em 0
