$lightblue: #d2f3ff
$white: #FAFAFA
$orange: #E5A040
$blue: #136AA0
$red: #CC3F3F
$black: #0C0C0C

$tanRGBA: rgba(255, 247, 226, .2)
$whiteRGBA: rgba(250, 250, 250, .2)
$orangeRGBA: rgba(229, 160, 64, .2)
$blueRGBA: rgba(60, 165, 255, .1)
$redRGBA: rgba(204, 63, 63, .2)
$blackRGBA: rgba(12, 12, 12, .2)

$header-font: "Palanquin_Dark_Bold"
$subtext-font: "Roboto_Slab_Regular"
$navigation-font: "Roboto_Slab_Bold"
$subheader-font: "Palanquin_Dark_Medium"
$list-font: "Roboto_Slab_Regular"

$journal-title-font: "Roboto_Slab_Regular"
$journal-content-font: "OpenSans_Regular"
$journal-content-bold: "OpenSans_Bold"

$review-content-italic: "OpenSans_BoldItalic"
$review-title-font: "Roboto_Slab_Regular"
$review-content-font: "OpenSans_Regular"

$profile-header-font: "Roboto_Slab_Bold"
$profile-content-font: "OpenSans_Regular"
$profile-content-bold: "OpenSans_Bold"
$profile-title-font: "Palanquin_Dark_Bold"
