<h1>Profile</h1>
<div class='profile-container'>
  <div class='main-content'>
    <div class='profile-row'>
      <div class='profile-pic' [ngStyle]="{'background-image': 'url('+profile.imgpath+')'}"></div>
      <div class='profile-about'>
        <h2 class='profile-heading'>About</h2>
        <div class='profile-about-content'>
          <span *ngFor="let aboutdata of profile.about | mapObject">
            <span class='bold-font'>{{aboutdata}}: </span>
            <ul>
              <li [ngClass]="{'isList': profile.about[aboutdata].length > 1, 'notList': profile.about[aboutdata].length == 1}" *ngFor="let details of profile.about[aboutdata]">{{details}}</li>
            </ul>
          </span>
        </div>
      </div>
    </div>

    <div class='profile-row'>
      <div class="profile-interests">
        <h2 class='profile-heading'>Interests</h2>
        <div class='interests-container'>
          <div class='interest-box' *ngFor="let interest of profile.interests | mapObject">
            <img class='interest-icon' src="./../../../../assets/interests/{{profile.interests[interest].imgpath}}">
            <h3>{{interest}}</h3>
            <ul>
              <li *ngFor="let data of profile.interests[interest].list">{{data}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class='side-bar'>

    <div class='profile-goals'>
      <h2 class='profile-heading'>Goals</h2>
      <div class='profile-goals-repeat' *ngFor="let goalterm of profile.goals | mapObject">
        <span class='bold-font'>{{goalterm}}: </span>
        <ul>
          <li *ngFor="let goal of profile.goals[goalterm]">
            {{goal}}
          </li>
        </ul>
      </div>
    </div>

    <div class="profile-strengths">
      <h2 class='profile-heading'>Strengths</h2>
      <ul>
        <li *ngFor="let strength of profile.strengths">{{strength}}</li>
      </ul>
    </div>

    <div class="profile-weaknesses">
      <h2 class='profile-heading'>Weaknesses</h2>
      <ul>
        <li *ngFor="let weakness of profile.weaknesses">{{weakness}}</li>
      </ul>
    </div>

  </div>
</div>
